#navbar {
    position: absolute;
    font-weight: lighter;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 10cm;
    justify-content: space-between;
    padding: 20px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.menu {
    display: inline-block;
    grid-auto-columns: 5cm;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
  
   body{
       background-color: aquamarine;
   }
   ul{
    list-style-type: square;
    margin: 3;
    padding: 3
   }
